<h1>マイページ</h1>
<hr>
<p><span>email: </span><%= @user.email %></p>

<% @blogs.each do |blog| %>
  <hr>
  <p><span>title: </span><%= link_to blog.title, blog_path(blog.id) %></p>
  <p><span>content: </span><%= link_to blog.content, blog_path(blog.id) %></p>
  <td><%= link_to "ブログを編集する",edit_blog_path(blog.id)%></td>
<% end %>
